<div class="main_container">
  <div class="login_form">
    <h2>Sign up</h2>  
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <%= f.text_field :name, autofocus: true, placeholder: "Name and last name", 
                        class: "field" %><br />
      
      <%= f.email_field :email, autofocus: true, autocomplete: "email", 
                         placeholder: "Email", class: "field" %><br />
      
      <%= f.password_field :password, autocomplete: "off",
                            placeholder: "Password", class: "field" %><br />

      <%= f.password_field :password_confirmation, autocomplete: "off",
                            placeholder: "Repeat password", class: "field" %><br />

      <%= f.label :birthdate %><br />
      <%= f.date_select :birthdate, start_year: 1920, end_year: 2000, class: "field" %>

      <div class="action">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
     
    <%= render "devise/shared/links" %>
  </div>
</div>
