<style>
  body {
    background: none;
  }
</style>

<%= image_tag "invaderlogin.jpg", class: "background_image" %>
<div class="main_container">
  <div class="main_title">
  </div>
  <div class="login_form">
    <h2 style="letter-spacing: 4px">LOG IN</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div style="letter-spacing: 3px"><%= f.label :email, "EMAIL" %></div>
      <%= f.email_field :email, autofocus: true, size: 17, autocomplete: "email", class: "field" %><br /><br />

      <div style="letter-spacing: 3px"><%= f.label :password, "PASSWORD" %></div>
      <%= f.password_field :password, autocomplete: "off", size: 17, class: "field" %><br /><br />

      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %><br /><br />
      <% end -%>

      <div style="border: 2px solid rgba(255,0,0,0.6); width: 100px; display: inline-block;" class="action">
        <%= f.submit "Log in", class: "button" %>
      </div>
    <% end %>
    <div style="font-weight: 800; font-size: 20px; margin-top: 15px;" class="button">
      <%= link_to "Log in with Facebook", user_facebook_omniauth_authorize_path %> 
    </div>
    <br />
    <%= render "devise/shared/links" %>
  </div>
</div>
