<div class="feed_post"
  <% @posts.each do |post| %>
    <h3><%= image_tag post.picture.url if post.picture? %></h3>
    <h3><%= post.content %></h3>
    <h4>
      <%= post.author.name %>
      <%= post.likes.count %>
      <%= post.created_at %>
      <% if post.author == current_user %>
        <%= link_to("Delete post", post_path(id: post.id),
            method: :delete, class: "delete_link") %>
      <% end %>
    </h4>
    <% if post.comments.any? %>
      <h3>Comments:</h3>      
      <div class="feed_comment">
        <% post.comments.each do |comment| %>
          <h3><%= comment.content %></h3>
          <h4>
            comment by: <%= comment.author.name %>
            at: <%= comment.created_at %>
            <% if comment.author == current_user %>
              <%= link_to("Delete comment", comment_path(id: comment.id),
                  method: :delete, class: "delete_link") %>
            <% end %>
          </h4>  
        <% end %>
      </div>
    <% end %>
    <div class="comment_form">
      <%= form_for(@comment) do |f| %>
        <h3><%= f.text_area :content, size: "55x5", placeholder: "New comment...", required: true %></h3>
            <%= f.hidden_field :post_id, value: post.id %>
        <h4><%= f.submit "Comment" %></h4>
      <% end %>
    </div>  
  <% end %>
</div>