<div class="Main_container">
  <div class="Feed_container">
    <div class="post_form">
      <%= form_for(@post) do |f| %>
        <h3><%= f.text_area :content, size: "55x5", placeholder: "New post..." %></h3>
        <h4>
          <%= f.submit "Post" %>
          <%= f.file_field :picture %>  
        </h4>
      <% end %>
    </div>  
    <% if @posts %>
      <% @posts.each do |post| %>
        <h3><%= post.content %></h3>
        <h4>
          <%= post.author.name %>
          <%= post.likes.count %>
          <%= post.created_at %>
        </h4>
        <% if post.comments.any? %>
          <h3>Comments:</h3>      
          <div class="Feed_comment">
            <% post.comments.each do |comment| %>
              <h3><%= comment.content %></h3>
              <h4>
                comment by: <%= comment.author.name %>
                at: <%= comment.created_at %>
              </h4>  
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>